/* .chart-container {
    min-width: 900px;
    max-width: 1200px;
    min-height: 600px;
    padding: 20px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 1rem;
  
    flex: 1;
    display: flex;
    align-items: center;
  }
   */