<div class="v-height" id="modal-container">
  <div class="row mb-3">
    <div class="col-12">
      <div class="float-right mr-4">
        <span class="glyphicon glyphicon-refresh" data-tooltip title="Sync data"
              style="font-size: 16px !important; cursor: pointer; color: #578fd4;" (click)="refresh()"></span>
      </div>
    </div>
  </div>

  <div class="form-filter">
    <div class="col-form-filter mb-3">
      <label>Organization </label>
      <ng-multiselect-dropdown [disabled]="spinner" [placeholder]="'Select'"
                               [data]="orgData" [settings]="dropdownSettings" [(ngModel)]="org"
                               id="mddOrg"
                               (onSelectAll)="onSelectDeselectAll($event, 'org')"
                               (onDeSelectAll)="onSelectDeselectAll($event, 'org')">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-form-filter mb-3">
      <label>Practice </label>
      <ng-multiselect-dropdown [disabled]="spinner" [placeholder]="'Select'"
                               [data]="practiceData" [settings]="dropdownSettings" [(ngModel)]="practice"
                               id="mddPractice"
                               (onSelectAll)="onSelectDeselectAll($event, 'practice')"
                               (onDeSelectAll)="onSelectDeselectAll($event, 'practice')">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-form-filter mb-3">
      <label>Sub-practice </label>
      <ng-multiselect-dropdown [disabled]="spinner" [placeholder]="'Select'"
                               [data]="subPracticeData" [settings]="dropdownSettings" [(ngModel)]="subPractice"
                               id="mddSubPractice"
                               (onSelectAll)="onSelectDeselectAll($event, 'subPractice')"
                               (onDeSelectAll)="onSelectDeselectAll($event, 'subPractice')">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-form-filter mb-3">
      <label>Employee </label>
      <ng-multiselect-dropdown [disabled]="spinner" [placeholder]="'Select'"
                               [data]="employeeData" [settings]="dropdownSettings" [(ngModel)]="employee"
                               id="mddEmployee"
                               (onSelectAll)="onSelectDeselectAll($event, 'employee')"
                               (onDeSelectAll)="onSelectDeselectAll($event, 'employee')">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-form-filter mb-3">
      <label>Project </label>
      <ng-multiselect-dropdown [disabled]="spinner" [placeholder]="'Select'"
                               [data]="projectData" [settings]="dropdownSettings" [(ngModel)]="project"
                               id="mddProject"
                               (onSelectAll)="onSelectDeselectAll($event, 'project')"
                               (onDeSelectAll)="onSelectDeselectAll($event, 'project')">
      </ng-multiselect-dropdown>
    </div>
  </div>

  <div id="filter">
    <div class="row">
      <div class="col-md-12">
        <div class="card" id="htmle2imagedata">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-5">
                <h6 style="padding-top : 5px">My Resource Revenue</h6>
              </div>
              <div class="col-sm-2">
                <div class="row">
                  <div class="col-sm-2">
                    <label>Year </label>
                  </div>
                  <div class="col-sm-10">
                    <select class="form-control rounded-0 form-control-sm form-field-border dd" [(ngModel)]="orgMaxYear"
                            (change)="onYearChange()">
                      <option *ngFor="let year of orgYearData" value="{{year.key}}">{{year.key}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-2 h-25">
                <button type="button" id="toggle" class="btn btn-toggle" data-toggle="button" aria-pressed="false"
                        autocomplete="off" (click)="onCompareToggle($event)" #compareToggle>
                  <div class="handle"></div>
                </button>
              </div>
              <div class="col-sm-2 h-25">
                <button type="button" id="toggleGrid" class="btn btn-toggle_" data-toggle="button" aria-pressed="false"
                        autocomplete="off" (click)="onGridToggle($event)" #gridToggle>
                  <div class="handle"></div>
                </button>
              </div>
              <div class="col-sm-1">
                <span class="glyphicon glyphicon-download-alt" data-tooltip title="Download in excel"
                      style="font-size: 22px !important; cursor: pointer;" (click)="onExportExcel()"></span>
              </div>
            </div>
          </div>
          <div class="card-body" [hidden]="isGrid">
            <canvas id="myResourceRevenueChart"></canvas>
          </div>
          <div class="card-body" [hidden]="!isGrid">
            <div class="row">
              <div class="col-md-12">
                <ag-grid-angular style="width: auto;" class="ag-theme-balham" 
                  [rowData]="gridRowData"
                  [columnDefs]="columnDefs" 
                  [gridOptions]="gridOptions" 
                  [paginationPageSize]="paginationPageSize"
                  pagination="true" 
                  [defaultColDef]="defaultColDef"
                  (gridReady)="onGridReady($event)">
                </ag-grid-angular>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="spinner" class="overlay">
      <div class="loader"></div>
    </div>
  </div>
