<div class="v-height">

  <!-- P & L -->
  <section class="content">

    <div id="filter1">
      <div style="padding-top: 5px">
        <label>Organization &nbsp; </label>
        <select [(ngModel)]="empOrg" (change)="filterPnLCharts()">
          <option value="*">All</option>
          <option *ngFor="let o of empOrgData">{{o}}</option>
        </select>
      </div>
      <div style="padding-top: 5px">
        <label>BU &nbsp; </label>
        <select [(ngModel)]="empBU" (change)="filterPnLCharts()">
          <option value="*">All</option>
          <option *ngFor="let b of empBUData">{{b}}</option>
        </select>
      </div>
      <div style="padding-top: 5px">
        <label>Practice &nbsp; </label>
        <select [(ngModel)]="empPractice" (change)="filterPnLCharts()">
          <option value="*">All</option>
          <option *ngFor="let p of empPracticeData">{{p}}</option>
        </select>
      </div>
      <div style="padding-top: 5px">
        <label> Sub-Practice &nbsp; </label>
        <select [(ngModel)]="empSubPractice" (change)="filterPnLCharts()">
          <option value="*">All</option>
          <option *ngFor="let sp of empSubPracticeData">{{sp}}</option>
        </select>
      </div>
      <div style="padding-top: 5px">
        <label>Year &nbsp; </label>
        <select [(ngModel)]="empYear" (change)="filterPnLCharts()">
          <option *ngFor="let y of empYearData" [value]="y.key">{{y.key}}</option>
        </select>
      </div>
      <div style="padding-top: 5px">
        <label>Month &nbsp; </label>
        <select [(ngModel)]="empMonth" (change)="filterPnLCharts()">
          <option value=".*">All</option>
          <option *ngFor="let m of monthsInWord.data" [value]="m.value">{{m.key}}</option>
        </select>
      </div>
    </div>

    <div id="htmle2imagedata" style="width: auto;">
      <div class="chartContainer">
        <div id="filter">
          <div class="row" style="display: flex">
            <div class="col-md-12 col-lg-6 col-xl-4">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <h6>Overall</h6>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive" style="overflow-y: auto;">
                    <canvas id="piePnLCanvas"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 col-lg-6 col-xl-8">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-sm-4 col-md-6">
                      <h6>By Practices</h6>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive" style="overflow-y: auto;">
                    <canvas id="barPnLPracticeswise"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="filter">
          <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-4 col-md-6">
                    <h6>By Sub-Practices</h6>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive" id="divbarPnLSubPracticeswise" style="overflow-y: auto;">
                  <canvas id="barPnLSubPracticeswise"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="filter">
          <div class="row">
            <div class="col-sm-10">
              <h5>Employee Details</h5>
            </div>
            <div *ngIf="projectsJSON.data && projectsJSON.data.length" class="col-sm-2 mb-1">
              <button class="btn btn-primary" (click)="downloadDetailsInExel('Employee_Details')">Download</button>
            </div>
          </div>

          <div class="row">

            <div class="col-sm-12">
              <ag-grid-angular style="width: auto;" class="ag-theme-balham" 
                [rowData]="projectsJSON.data"
                [columnDefs]="columnDefsEmployee" 
                [gridOptions]="gridOptionsEmployee"
                [paginationPageSize]="paginationPageSize" 
                [getRowHeight]="getRowHeightEmployee" 
                pagination="true"
                rowSelection="single" 
                (selectionChanged)="onEmployeeSelection($event)" 
                [defaultColDef]="defaultColDef"
                (gridReady)="onGridReadyEmployee($event)">
              </ag-grid-angular>
            </div>

            <!-- <div class="col-md-12 col-lg-6 col-xl-4 mb-3">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <h6>{{titlePnL}}'s Monthly Trend</h6>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive" style="overflow-y: auto;">
                  <canvas id="lineEmpPnL"></canvas>
                </div>
              </div>
            </div>
          </div> -->

          </div>

        </div>
        <div id="filter">
          <div class="row">
            <div class="col-sm-10">
              <h5>Project Details of {{selected}}</h5>
            </div>
            <div *ngIf="empJSON.data && empJSON.data.length" class="col-sm-2 mb-1">
              <button class="btn btn-primary" (click)="downloadDetailsInExel('Project_Details')">Download</button>
            </div>
          </div>

          <div class="row">

            <div class="col-sm-12">
              <ag-grid-angular style="width: auto;" class="ag-theme-balham" 
                [rowData]="empJSON.data"
                [columnDefs]="columnDefsProjects" 
                [gridOptions]="gridOptionsProjects"
                [paginationPageSize]="paginationPageSize" 
                [getRowHeight]="getRowHeightProjects" 
                pagination="true"
                rowSelection="single" 
                (selectionChanged)="onProjectSelection($event)" 
                [defaultColDef]="defaultColDef"
                (gridReady)="onGridReadyProjects($event)">
              </ag-grid-angular>
            </div>

            <!-- <div class="col-md-12 col-lg-6 col-xl-4 mb-3">
            <div class="card" >
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <h6>{{titlePnLSec}}'s Monthly Trend</h6>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive" style="overflow-y: auto;">
                  <canvas id="lineSecPnL"></canvas>
                </div>
              </div>
            </div>
          </div> -->

          </div>

          <div id="filter">
            <div class="col-sm-8" style="text-align: left; padding: 0%">
              <h5>Monthly Trends</h5>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-sm-12 col-md-12">
                        <h6>{{titlePnL}}'s Monthly Trend</h6>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive" style="overflow-y: auto;">
                      <canvas id="lineEmpPnL"></canvas>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-sm-12 col-md-12">
                        <h6>{{titlePnLSec}}'s Monthly Trend</h6>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive" style="overflow-y: auto;">
                      <canvas id="lineSecPnL"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-loading *ngIf="showLoader"></app-loading>
  </section>

</div>