/* Demo Reason for Resignation Form With Reason Items Start */
.reason-resignation-buttons-wrap .reason-resignation-label-field label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2A2A2A;
    padding: 0 0 0 0;
    margin: 0 0 20px 0;
}

.resignation-rm-wrap .reason-resignation-buttons-wrap .reason-resignation-label-field .reason-resignation-submit-btn {
    display: none;
}

.reason-resignation-buttons-wrap .reason-resignation-buttons label {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2A2A2A;
    padding: 0 0 0 0;
    margin: 0 0 20px 0;
}

.reason-resignation-buttons-wrap .reason-resignation-buttons .reason-resignation-item-wrap {
    width: 100%;
}

.reason-resignation-buttons-wrap .reason-resignation-buttons .reason-resignation-item-wrap .reason-resignation-item {
    padding: 7px 10px;
    margin: 0 20px 0 0;
    background-color: #fff;
    border: 1px solid #B3B3B3;
    font-size: 13px;
    line-height: 15px;
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}

.reason-resignation-buttons-wrap .reason-resignation-buttons .reason-resignation-item-wrap .reason-resignation-item .btn {
    position: absolute;
    right: 4px;
    top: -10px;
    width: 16px;
    height: 16px !important;
    border: 1px solid #979797;
    background-color: #D8D8D8;
    color: #666666;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    padding: 0 !important;
    color: #666666 !important;
    font-size: 16px !important;
    line-height: 16px !important;
}

.reason-resignation-submit-btn-wrap label {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2A2A2A;
    padding: 0 0 0 0;
    margin: 0 0 20px 0;
}

/* Demo Reason for Resignation Form With Reason Items End */


/* Button With Close Icon Start */
.button-with-close-icons-wrap {
    width: 100%;
}

.button-with-close-icons-wrap .button-with-close-icons-item {
    padding: 7px 10px;
    margin: 0 20px 20px 0;
    background-color: #fff;
    border: 1px solid #B3B3B3;
    font-size: 13px;
    line-height: 15px;
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}

.button-with-close-icons-wrap .button-with-close-icons-item .btn {
    position: absolute;
    right: 4px;
    top: -10px;
    width: 16px;
    height: 16px !important;
    border: 1px solid #979797;
    background-color: #D8D8D8;
    color: #666666;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    padding: 0 !important;
    color: #666666 !important;
    font-size: 16px !important;
    line-height: 16px !important;
}

.button-with-close-icons-wrap .button-no-close-icons-item-disabled {
    background-color: #D8D8D8;
    border: 1px solid #B3B3B3;
    color: #979797;
}

/* Button With Close Icon End */


/* Discussion With Employee Section Start */
.discussion-with-employee-sec {
    width: 100%;
    background-color: #FBFAFA;
    color: #3D3D3D;
    border: 1px solid #CBCBCB;
    padding: 23px 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.discussion-with-employee-sec .discussion-with-employee-sec-item {
    position: relative;
    height: 100%;
    padding-right: 30px;
}

.discussion-with-employee-sec .discussion-with-employee-sec-item h4 {
    font-size: 18px;
    line-height: 21px;
    color: #2A2A2A;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0 0 20px 0;
    margin: 0;
}

.discussion-with-employee-sec .discussion-with-employee-sec-item ul {
    padding: 0;
    margin: 0;
    list-style-type: disc;
    margin-left: 10px;
}

.discussion-with-employee-sec .discussion-with-employee-sec-item ul li {
    list-style-position: inside;
    padding: 0;
    margin: 0 0 6px 0;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.discussion-with-employee-sec .discussion-with-employee-sec-item:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color: #979797;
}

.discussion-with-employee-sec .discussion-with-employee-sec-item.rm-discussion-item:after {
    display: none;
}

.discussion-with-employee-sec .pd-discussion-item .no-grid-structure {
    display: inherit;
    margin-right: inherit;
    margin-left: inherit;
    flex-wrap: inherit;
}

.discussion-with-employee-sec .pd-discussion-item .no-grid-structure .reason-resignation-label-field {
    flex: inherit;
    max-width: inherit;
    padding: inherit;
    display: flex;
}

.discussion-with-employee-sec .pd-discussion-item .no-grid-structure .reason-resignation-label-field .form-group {
    width: 100%;
}

.discussion-with-employee-sec .pd-discussion-item .no-grid-structure .reason-resignation-label-field .form-group label {
    display: none;
}

.discussion-with-employee-sec .pd-discussion-item .no-grid-structure .reason-resignation-buttons {
    display: none;
}

.discussion-with-employee-sec .pd-discussion-item .no-grid-structure .reason-resignation-submit-btn-wrap {
    display: none;
}

.discussion-with-employee-sec .pd-discussion-item .no-grid-structure .reason-resignation-submit-btn {
    margin: 0 0 0 15px;
    height: 34px !important;
}

.radius-border-3 {
    border-radius: 3px !important;
}

/* Discussion With Employee Section End */

.required {
    color: #D53A3A;
}

.resignation-rm-wrap .col-form-label {
    align-items: flex-start !important;
  }