h3.headingStyle{  font:500 18px/22px "Roboto", sans-serif; color: # 333; padding-top:11px }
.top-head{ width: 100%; margin: 0; padding: 0 15px }

.material-icons{ font-size: 14px; vertical-align: top; line-height: 28px }