<div class="v-height">

	<!-- <div class="breadcrumb-wrapper">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">Approval Reports History</li>
			</ol>
		</nav>
	</div> -->

	<div class="view-expense-section">
		<div class="sub-header clearfix">
			<h1>Approval Reports History</h1>
		</div>
		<div class="expense-date-section">
			<div class="row">
				<div class="col-md-3">
					<div id="dateselectiondiv">
						<select class="form-control" (change)="onSelect($event.target.value)" [(ngModel)]="selectedDates.id">
							<option *ngFor="let dates of listdates" value={{dates.id}}>
								{{dates.name}}
							</option>
						</select>
					</div>
				</div>
				<div class="col-3" *ngIf="selectedDates.id == 'dateRange'">
					<!-- <label for="name">Start Date</label>
					<input type="date" class="form-control" id="startdate" name="startDate" [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="startDate = $event"> -->
					<div class="form-group">
						<label for="name">Start Date</label>
						<div class="input-group" #DatePickContainer1>
							<input id="startdate" [maxDate]="endDateSelectedDate" name="startdate" class="form-control form-control-sm form-field-border"
							 placeholder="yyyy-mm-dd" [(ngModel)]="startDateSelectedDate" ngbDatepicker #d1="ngbDatepicker" (dateSelect)="checkStartDate()"
							 (change)="checkStartDate()" (focusout)="checkStartDate()">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button" (document:click)="closeFix1($event, d1)">
									<span class="input-group-addon" style="cursor: pointer; border-radius: 0px;">
										<i class="fa fa-lg fa-calendar"></i>
									</span>
								</button>
							</div>
							<!-- <div class="alert alert-danger validationAlert">Invalid Start Date</div> -->
						</div>
					</div>
				</div>
				<div class="col-3" *ngIf="selectedDates.id == 'dateRange'">
					<!-- <label for="name">End Date</label>
					<input type="date" class="form-control" id="enddate" [ngModel]="endDate | date:'yyyy-MM-dd'" (ngModelChange)="endDate = $event"
					 name="endDate" (blur)="myMethod()"> -->
					<div class="form-group">
						<label for="name">End Date</label>
						<div class="input-group" #DatePickContainer2>
							<input id="enddate" [minDate]="endDateMinVal" name="enddate" class="form-control form-control-sm form-field-border" placeholder="yyyy-mm-dd"
							 [(ngModel)]="endDateSelectedDate" ngbDatepicker #d2="ngbDatepicker" (dateSelect)="endDateSelected()" (change)="endDateSelected()"
							 (focusout)="endDateSelected()">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button" (document:click)="closeFix2($event, d2)">
									<span class="input-group-addon" style="cursor: pointer; border-radius: 0px;">
										<i class="fa fa-lg fa-calendar"></i>
									</span>
								</button>
							</div>
							<!-- <div class="alert alert-danger validationAlert">Invalid End Date</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<!-- <div class="panel-heading" style="background-color: #f4f7fa;">
				</div> -->
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="expenses-list">
							<!-- <button (click)="statusBasedExpenses($event,'N')" id="btn-open" class="btn btn-primary" [ngClass]="{'active':selectedStatusExpense=='N'}">Open</button> &nbsp; -->
							<!-- <button (click)="statusBasedExpenses($event,'S')" id="btn-sub" class="btn btn-primary" [ngClass]="{'active':selectedStatusExpense=='S'}">Submitted</button> &nbsp; -->
							<button (click)="statusBasedExpenses($event,'O')" id="btn-apprv" class="btn-list" [ngClass]="{'active':selectedStatusExpense=='O'}">Approved</button> &nbsp;
							<button (click)="statusBasedExpenses($event,'R')" id="btn-rej" class="btn-list" [ngClass]="{'active':selectedStatusExpense=='R'}">Rejected</button> &nbsp;
							<!-- <button (click)="statusBasedExpenses($event,'P')" id="btn-reimb" class="btn btn-primary" [ngClass]="{'active':selectedStatusExpense=='P'}">Reimbursed</button> &nbsp; -->
							<button (click)="statusBasedExpenses($event,'A')" id="btn-all" class="btn-list" [ngClass]="{'active':selectedStatusExpense=='A'}">All</button>
						</div>
					</div>

				</div>
				<ag-grid-angular #agGrid style="width: 100%; height: 340px;" id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"
				 [rowData]="rowData" [rowSelection]="rowSelection" (rowSelected)="onRowSelected($event)" (selectionChanged)="onSelectionChanged($event)"
				 enableColResize enableSorting enableFilter groupHeaders [paginationPageSize]="paginationPageSize" suppressMovableColumns="true"
				 pagination="true" (gridReady)="onGridReady($event)">
				</ag-grid-angular>

			</div>
		</div>
		<div class="ciontainer-fluid">
			<div class="row p-3">
				<div class="col-md-12">
					<button class="btn btn-secondary" (click)="showManagerApproval();">Back</button>
				</div>
			</div>
		</div>
	</div>

