
::ng-deep .CustomModalClass .modal-dialog {
    max-width:70% !important
}

.elipsis span{
    height: 18px;
    width: 80px;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    /* margin: 0 5px 0 5px;
    text-align: center; */
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}

td span{
    font-size: 12px;
}

/* tbody {
    display:block;
    height:50vh;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1.4em )
} */