.btn .btn-primary .buttoninitial{
	height: 60px !important;
    width: 125px !important;
    border-radius: 0px !important;
    background-color: unset;
    color: black !important;
}

.btn .btn-primary .buttonAfterClick{
	height: 60px !important;
    width: 125px !important;
    border-radius: 0px !important;
}