[hidden] {
    display: none !important;
  }
  



  .card {
    background-color: transparent;
    box-shadow: inherit;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
  }
  .title-text {
    font: 600 18px/22px "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #393836;
  }
  table.table {
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  }
  .table thead {
    background-color: #1d618a;
    color: #fff;
    overflow: hidden;
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
  }
  .table thead th {
    padding: 8px 0.75rem;
    font-weight: 600;
  }
  .table tbody th,
  .table tbody td {
    padding: 6px 0.75rem;
    font-weight: 500;
  }
  .table-bordered td,
  .table-bordered th {
    border-color: #eaeaea;
    vertical-align: middle;
  }
  .table-striped tbody tr {
    background-color: #fff;
    color: #000;
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
  }
  .table-striped tbody tr:last-child {
    overflow: hidden;
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
  }
  a.btn-run {
    width: 28px;
    height: 28px;
    background: url("icons/play_icon.png") no-repeat center #fff;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right: 8px;
    margin-top: 3px;
  }
  a.btn-share {
    width: 28px;
    height: 28px;
    background: url("icons/share_icon.png") no-repeat center #fff;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right: 8px;
    margin-top: 3px;
  }
  a.btn-filter {
    width: 28px;
    height: 28px;
    background: url("icons/filter_icon.png") no-repeat center #fff;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right: 8px;
    margin-top: 3px;
  }
  a.btn-delete {
    width: 28px;
    height: 28px;
    background: url("icons/delete_icon.png") no-repeat center #fff;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 3px;
  }
  a.btn-run:hover,
  a.btn-share:hover,
  a.btn-filter:hover,
  a.btn-delete:hover {
    border-color: #1d618a;
  }
  .modal button.close, .modal button.close span{ font-size: 15px !important }
  label{ padding-top: 7px }

  
  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 70%;
  }

  .has-search .form-control {
    padding-left: 2.375rem;
}


.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.icon-padding{
  border-color: #7ea8bc;
  padding-bottom: 4px;
  background-color: #f8f8f8;
  border-radius: 6px;
  border-width: 1px;
}