.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.month-picker-container {
    border: 1px solid #ddd;
    display: inline-block;
}
.month-picker {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #fff;
}
.month-picker-head {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #888;
}
.year-navigation-btn {
    text-align: center;
    color: inherit;
    cursor: pointer;
    padding: 10px !important;
    margin: 0 5px !important;
    background-color: transparent !important;
    border: 0 transparent !important;
    outline: none !important;
    box-shadow: none !important;
    height: auto !important;
}
.year-navigation-btn:hover {
    background-color: #555 !important;
    border-radius: 40% !important;
}
.year-container {
    flex: 3;
    padding: 10px 0;
    text-align: center;
    font-size: 1.3rem;
}
.month-picker-body {
    display: flex;
    flex-direction: column;
    margin: 2px;
}
.months-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.month {
    flex: 1;
    color: #333;
    border-radius: 100%;
    padding: 10px 17px;
    text-align: center;
}
.month:hover {
    background-color: #e9edf0;
    cursor: pointer;
}
.month.highlight {
    background-color: #777;
    color: #fff;
}
.disabled {
    opacity: 0.5 !important;
}
.disabled:hover {
    cursor: default !important;
    background-color: inherit !important;
}
.navigation-chevron {
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    border-style: solid;
    border-color: #fff;
    border-width: 2px 2px 0 0;
    transform: rotate(-135deg);
    margin-left: 0.25em;
    margin-right: 0.15em;
}
.navigation-chevron.right {
    transform: rotate(45deg);
    margin-left: 0.15em;
    margin-right: 0.25em;
}
