<body>
  <div style=" padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;">
<nav style=" background: rgb(222, 228, 240);
height: 40px;
width: 100%;">
  <label class="logo" style="line-height: 40px;
  padding: 0 100PX;
  float: left;
  color: rgb(109, 109, 226);">iRecruiter</label>
  <ul style="  float: left;
  margin-right: 20px;">
    <li style=" display: inline-block;
    line-height: 40px;
    margin: 0 5px;"><a href="#">Dashboard</a></li>
    <li style=" display: inline-block;
    line-height: 40px;
    margin: 0 5px;"><a href="#">Requests</a></li>
    <li style=" display: inline-block;
    line-height: 40px;
    margin: 0 5px;"><a href="#">Candidates</a></li>
    <li style=" display: inline-block;
    line-height: 40px;
    margin: 0 5px;"><a href="#">Scheduled Interviews</a></li>
     <li style=" display: inline-block;
     line-height: 40px;
     margin: 0 5px;"><a href="#irecruit/profile/addprofile">Add Profile</a></li>
  </ul>
</nav>
</div>