<!-- Set  GOAL MODAL START -->
<div class="team-goal-settings-section team-goal-section">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addGoalModalLabel">Set Project Weightage & Change Manager</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="form-row mb-2 my-3">
        <span style="margin-left:20px;">
          <b style="color:red !important;">*</b>
          Disable the projects, for which goal setting is not required.This will disable Reminder Mails.
        </span>
      </div>

      <div class="modal-body">
        <form [formGroup]="projectWeightageForm" class="spaced">

            <div class="form-row mb-2">
                <div class="col-md-3">Project Name
                </div>
                <div class="col-md-3">Weightage
                </div>
                <div class="col-md-2">Is Active
                </div>
                <div class="col-md-2">Review Manager
                </div>
                <div class="col-md-2">View All
                </div>
              </div>


          <div class="form-row mb-2" formArrayName="projectWeightageList" *ngFor="let project of projectWeightageForm.get('projectWeightageList')['controls']; let i = index;"
            >
            <ng-container [formGroupName]="i">
              <div class="col-3">
                <input formControlName="projectName" class="form-control" disabled>
              </div>
              <div class="col-3">
                  <input type="text" formControlName="projectWeightage" suffix="%" mask="000" class="form-control"
                  [attr.disabled]="(getProjectStatusValue(i)?.value === 'N') ? '' : null"
                  >
                </div>
                <div class="col-2">
                    <input type="checkbox"  
                    formControlName="isActive"  class="form-control"
                    [checked]="getProjectStatusValue(i)?.value === 'Y'"
                    (change)="onProjectStatusChange($event,i)"
                  />
                  </div>
                  <!-- {{getViewAllValue(i)?.value}} -->
                  <div class="col-2">
                    <ng-container *ngIf="project?.value?.viewAll">
                    <select class="form-control" formControlName="rmPmId"
                    >
                    <option value="">Select</option>
                      <option *ngFor="let employee of allEmployeeList" [value]="employee?.employeeId">
                        {{employee?.fullName}}</option>
                  </select>
                </ng-container>
                <ng-container *ngIf="!project?.value?.viewAll">
                  <select class="form-control" formControlName="rmPmId"
                    >
                    <option value="">Select</option>
                    <option *ngFor="let manager of getReviewManagersListByIndex(i)?.value" [value]="manager?.employeeId">
                      {{manager?.fullName}}</option>
                  </select>
                </ng-container>
                  </div>
                  <div class="col-2">
                    <input type="checkbox"  
                    formControlName="viewAll"  class="form-control"
                    [checked]="getViewAllValue(i)?.value"
                    (change)="onChangeViewAll($event,i)"
                  />
                  </div>
            </ng-container>
          </div>
        </form>
        <div class="row"
        *ngIf="displayErrorMessage">
        <div class="col-12">
        <p class="text-danger">Total project Weightage should be 100.</p>
      </div>
      </div>
      <div class="row"
        *ngIf="checkRmExistErrorInfo">
        <div class="col-12">
        <p class="text-danger">Please select Review Manager for Active projects.</p>
      </div>
      </div>
        
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-primary" (click)="close()">Cancel</button>
        <button
            type="button"
            class="btn btn-primary"
            (click)="updateProjectWeightage()"
            *ngIf="(appraisalService?.epmsStatus)!=='Closed' && !isReadOnly">
          Save
        </button>
      </div>
    </div>
    </div>
    <!-- ADD GOAL MODAL END -->