.list-group-item{
	padding : 5px 5px;
	margin-bottom: 0px;
}
.text-label {
	text-align: right; 
	color: rgb(80, 100, 110); 
	font-size: 14px; 
	text-shadow: rgba(255, 255, 255, 0.5) 0px -1px 0px;
}
.lastRefresh {
	float: right;
	margin-top: 0.5%;
  }
.text-value {
	padding: 1px 2px 1px 10px; 
	color: rgb(90, 95, 85); 
	font-size: 14px; 
	text-shadow: rgba(255, 255, 255, 0.5) 0px -1px 0px;
}
.kodama-tooltip{
	position: absolute; 
	left: 0px; 
	top: 0px; 
	visibility: visible; 
	pointer-events: none;
}
.badge{
    font-size : 94% !important;
    border-radius: 10rem !important;
}
.badge-info{
	margin-left : 20px;
}
h5{
    font-size : 0.9rem !important;
}
.intent{
	margin-right: 10px;
	margin-left: 10px;
}
.glyphicon{
	margin-right: 10px;
}
.highlight {
    background: #e2e6cf;
}

.accordion .card-header {
	background: #126086 !important; 
	color: #fff; 
	cursor: pointer;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
	float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}

.accTitle {
	margin-top: 2%;
    font-size: 0.9rem;
}

.container {
    max-width: 99% !important;
    max-height: 80vh !important;
    height: 73vh !important;
}

.cursor {
	cursor: pointer;
}


.list-group-item.heading{ border-radius: 0px; background:#51849c !important; color: #fff; }
.sub-table .sub-head{ padding:5px 10px }
.sub-table .list-group-item{ font-size: 12px; padding: 5px 10px; }
.sub-table .sub-head .row > div{ font-weight: 500; padding-top:6px; padding-bottom: 6px; }
.container{ max-height: inherit !important; height: inherit !important; }