  /* ==================
Modal Css Start =========================*/
/* .modal-content{ border-radius: 0px; border:1px solid #979797 }
.modal-header{ padding: 12px 30px !important; border-top-left-radius:0px; border-top-right-radius:0px; background-color: #fff; color: #000; border-bottom: 1px solid #9b9b9b }
.modal-title, .modal-header .modal-title, .modal-body .modal-header .modal-title{ color: #000 !important }
.modal-header .close, .modal button.close, .modal button.close span{ color: #000 !important; font-size: 40px; font-weight: 300; line-height: 22px }
.modal-body{ padding: 20px 30px } */
/* .modal-dialog{ max-width: 640px !important } */

/* @media (min-width: 576px){
.modal-dialog {
    max-width: 640px !important;
    margin: 1.75rem auto;
}
}
.btn-close{ height: 30px !important ; line-height: 30px !important; font-size:26px !important; font-weight: 300 !important; }
.form-control, input.form-control, textarea, select, select.form-control, .team-goal-settings-section select.form-control.border{ height: 30px !important; line-height: 30px !important; border: 1px solid #ddd !important; font-family: 'Montserrat', sans-serif !important; border-radius: 3px !important; } */
