<div class="container-fluid">
    <app-expense-attachment></app-expense-attachment>
  <div class="snackbar" #AlertSuccess>{{flashMessage}}</div>
  <div class="snackbar danger" #AlertError>{{errorMessage}}</div>
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-md-9">
          <h3 class="pagetitle">Reimbursed Expense</h3>
        </div>
        <div class="col-md-2 mt-3">
            <button type="button" class="btn btn-outline-primary" (click)="previewCalled()">Preview Receipts</button>
        </div>
        <div class="col-md-1 mt-3">
          <div class="dropdown pull-right">
              <span class="glyphicon glyphicon-cog" style="font-size:20px !important;"></span>
              <div class="dropdown-content">
                  <ul>
                      <li>Items Per Page</li>
                      <li [class.active]="pageCount==itemCount" (click)="chengePageSize(itemCount)" *ngFor="let itemCount of itemsPerPageList">{{itemCount}}</li>
                      <li [class.active]="pageCount==0" (click)="chengePageSize(0)">All</li>
                  </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pt-3 pb-1">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>
            <b>Expense Start Date</b>
          </label>
          <div class="input-group">
            {{expenseStartDate}}
          </div>
        </div>
      </div>
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-3">
        <div class="form-group">
          <label>
            <b>Employee Name</b>
          </label>
          <div class="input-group"> {{employeeFullName}} </div>
        </div>
      </div>
      <!-- <div class="col-md-2"></div> -->
      <div class="col-md-3">
        <div class="form-group">
          <label>
            <b>Tracking ID</b>
          </label>
          <div class="input-group"> {{reportid}} </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <label>
                  <b>Total Amount</b>
              </label>
              <div> {{totalAmount  | number: '1.2-2'}}
              </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>
            <b>Description</b>
          </label>
          <textarea id="description" name="description" maxlength="255" class="form-control form-control-sm border-radius-zero" rows="2"
            [(ngModel)]="user.description" placeholder='Description' [required]="true">
                          </textarea>
        </div>
      </div>
     
      <div class="col-md-6">
        <div class="row mt-2 pt-4">
          <div class="col">
            <button type="button" (click)="downloadAllAttachments()" class="btn btn-outline-primary" >Download Attachments</button>
          </div>
          <div class="col pl-0">
            <button type="button" (click)="getPdfData()" [disabled]="fieldArray.length==0" class="btn btn-outline-secondary">Export To PDF</button>
          </div>
          <div class="col pl-0">
            <select title="PDF Layout" class="form-control" name="exportLayoutType" [(ngModel)]="exportLayoutType">
              <option value="l">Landscape</option>
              <option value="p">Portrait</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <div class="box1">
        <div class="box-body table-responsive">
          <table class="table table-bordered edit-expensive" border="3px">
          <thead>
            <tr>
              <th>
              </th>
             
              <th class="project-size">
                <b>Project</b>
              </th>
              <th class="task-size">
                <b>Task</b>
              </th>
              <th class="date-size">
                <b>Expense Date</b>
              </th>
              <th>
                <b>Expense Type</b>
              </th>
              <th>
                <b>Quantity</b>
              </th>
              <th>
                <b>Receipt Amount</b>
              </th>
              <th>
                <b>Exchange Rate</b>
              </th>
              <th class="base-amt">
                <b>Employee Base Exchange Amount</b>
              </th>
              <th>
                <b>Reimbursed Amount</b>
              </th>
              <th>
                <b>Billable</b>
              </th>
              <th>
                <b>Reimbursable</b>
              </th>
              <th>
                <b>Attachments</b>
              </th>
              <th style="min-width: 250px;">
                <b>Notes</b>
              </th>
            </tr>
          </thead>
            <tr *ngFor="let field of fieldArray | paginate: { itemsPerPage: currentPageItemCount, currentPage: p }; let i = index">
              <td>
                <input type="radio" value="{{field.id}}" name="reviewRadioButton" class="onoffswitch-checkbox" (change)="onRowChecked($event)">
              </td>
              <td> {{field.projectName}}</td>
              <td> {{field.projectTaskName}}</td>
              <td> {{field.expenseDate}}</td>
              <td> {{field.expenseTypeName}}</td>
              <td> {{field.quantity}}</td>
              <td> {{field.currencyCode}} {{field.receiptPrice | expenseDecimalFormat }}</td>
              <td> {{getExRateCurr(field.exchangeRateWithDesc) | expenseDecimalFormat}} {{getExRateVal(field.exchangeRateWithDesc)}}</td>
              <td> {{getCurr(field.baseExchangeAmt)}} {{getVal(field.baseExchangeAmt)| number: '1.2-2'}}</td>
              <td> {{getCurr(field.reimbursedAmount)}} {{getVal(field.reimbursedAmount)| expenseDecimalFormat}} </td>
              <td *ngIf="field.billable == true">Yes</td>
              <td *ngIf="field.billable == false">No</td>
              <td *ngIf="field.reimbursible == true">Yes</td>
              <td *ngIf="field.reimbursible == false">No</td>
              <td>
                <ul class="list-unstyled">
                  <li *ngFor="let file of field.expenseAttachments">
                    <a class="text-link" (click)="downloadFile(file.duplicateFileName, file.fileType, field.id)">{{file.originalFileName}}</a>
                  </li>
                </ul>
              </td>
              <td> {{field.notes}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>


  <br/>
  <br/>
  <div class="row">
    <div class="col-md-8">
      <pagination-controls (pageChange)="p = $event" maxSize="5" previousLabel="" nextLabel="" autoHide="false"></pagination-controls>
    </div>

    <div class="col-md-4" id="paddingbuttons">
      <div class="pull-right">
        <button type="button" (click)="cancel()" class="btn btn-outline-secondary">Cancel</button>&nbsp;
        <button type="button" class="btn btn-outline-primary" [disabled]="fieldArray.length==0 || selectedRowId===undefined || selectedRowId==0"
          (click)="showHistory()">Show History</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for showing loading text -->
<div id="loadingEditSubmitModal" class="modal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="top: 40%;">

        <!-- Modal content-->
        <div class="modal-content bg-dark text-light">
            <div class="modal-body">
                <h3>Loading..</h3>
            </div>
        </div>

    </div>
</div>
